<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>lmp1</servlet-name>
        <servlet-class>lmp1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lmp2</servlet-name>
        <servlet-class>lmp2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lmp3</servlet-name>
        <servlet-class>lmp3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lmp4</servlet-name>
        <servlet-class>lmp4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lmp5</servlet-name>
        <servlet-class>lmp5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imp6</servlet-name>
        <servlet-class>imp6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lmp6</servlet-name>
        <servlet-class>lmp6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lmp7</servlet-name>
        <servlet-class>lmp7</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lmp8</servlet-name>
        <servlet-class>lmp8</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lmp9</servlet-name>
        <servlet-class>lmp9</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lmp10</servlet-name>
        <servlet-class>lmp10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lmp11</servlet-name>
        <servlet-class>lmp11</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lmp1</servlet-name>
        <url-pattern>/lmp1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lmp2</servlet-name>
        <url-pattern>/lmp2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lmp3</servlet-name>
        <url-pattern>/lmp3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lmp4</servlet-name>
        <url-pattern>/lmp4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lmp5</servlet-name>
        <url-pattern>/lmp5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imp6</servlet-name>
        <url-pattern>/imp6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lmp6</servlet-name>
        <url-pattern>/lmp6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lmp7</servlet-name>
        <url-pattern>/lmp7</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lmp8</servlet-name>
        <url-pattern>/lmp8</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lmp9</servlet-name>
        <url-pattern>/lmp9</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lmp10</servlet-name>
        <url-pattern>/lmp10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lmp11</servlet-name>
        <url-pattern>/lmp11</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
